---
layout: default
---

{% include header.html %}

<div class="post">
  <h1 class="post__title">{{ page.title }}</h1>
  <p class="post__date">{{ page.date | date: '%B %-d, %Y' }}</p>
  <div class="post__content"?>
    {{ content }}
  </div>

  <hr style="margin-top:30px;"/>

  {% if page.previous %}
  <div style="white-space:nowrap; overflow: hidden; text-overflow: ellipsis;">Previous post: <a href="{{page.previous.url}}">{{page.previous.title}}</a></div>
  {% endif %}
  {% if page.next %}
  <div style="white-space:nowrap; overflow: hidden; text-overflow: ellipsis;">Next post: <a href="{{page.next.url}}">{{page.next.title}}</a></div>
  {% endif %}
</div>
